body{
    background: url(../../bg/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
form{
    box-shadow: 10px 10px 10px rgb(69, 69, 69);
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 25rem;
}
img{
    width: 4rem;
}
.login{
    background: linear-gradient(
        120deg,#0066ff,#ff99cc
    );
}